:host {
  text-align: center;
}

.header {
  background-color: #F7FAFB;
  color: #142F56;
  text-align: left;
  font-size: 24px;
  padding-left: 90px;
  font-weight: bold;
}

.container {
  background-color: white;
  height: 80vh;
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
  padding: 20px;
}

.course-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.course-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #142F56;
  line-height: 50px;

  div {
    line-height: 0;
  }
}

.select {
  width: 100%;
}

.course-field input {
  background: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.course-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  line-height: 0;
}

.course-card {
  flex: 1;
  padding: 20px;
}

.course-card .title {
  font-weight: bold;
  color: #142F56;
  font-size: 14px;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #F0F0F0;
  height: 400px;
  border-radius: 10px;
}

.image-card {
  width: 32%;
  text-align: center;
}

.image-card img {
  width: 100%;
  border-radius: 8px;
  height: auto;
  margin-top: 40px;
}

.image-card h3 {
  margin-top: 40px;
  font-size: 16px;
  color: #3D4041;
}

.course-instructor {
  flex: 1;
  line-height: 63px;
}

::ng-deep .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #F0F0F0;
  color: #3D4041;
}

::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #F0F0F0;
  color: #3D4041;
}
